.layout{
    position: absolute;
    width: 393px;
    min-width: 350px;
}

.bg-img-1 {
    z-index: -1;
    position: absolute;
    top: 635px;
    filter: brightness(0.15);
}

.bg-img-2 {
    z-index: -1;
    position: absolute;
    bottom: 0;
    filter: brightness(0.15);
}